.action {
    margin: 10px
}

div.arrow {
    /*border: 5px solid #000;*/
    font-size: xx-large;
    padding: 10px 10px 0px 10px;
}

button {
    cursor: pointer;
    /*display: none;*/
}

.callerContainer {
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    clear: both;
    flex-wrap: wrap;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown{
    /*position: absolute;*/
    right: 0;
    top: 3em;
}

.input {
    display: block;
    padding: 20px;
    /*margin: 20px 20px 20px 20px;*/
    margin-bottom: 50%;
}


.kebab {
    cursor: pointer;
    float: right;
    /*width: 20%; */
    /*position: relative;*/
    /*display: inline-block;*/
    /*box-sizing: border-box;*/
    /*bottom: 5px;*/
}


.li {
    display: block;
    width: 100%;
    margin: 2px;
}


.square {
    border: 5px solid #000;
    width: 30%;
    height: 120px;
    justify-content: left;
    margin: 10px 10px 10px 10px;
    
    /*align-items: left;*/
    /*border-radius: 50%;*/
}

